body {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #606060;
}

h1 {
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    color: #000000;
    font-size: 20px;
    text-transform: uppercase;
}

hr {
    border-color: #ffffff;
    border-top: 2px;
    width: 50%;
}

.header-box {
    border: 2px solid #ffffff;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 1%;
}

.header-box h2 {
    margin-bottom: 40px;
}

.nav-box {
    padding: 0px;
}

.nav-box ul {
    list-style-type: none;
    margin: 0 auto;
    width: 100%;
}

.nav-box li {
    width: 100%;
    text-align: center;
    font-size: 40px;
}

nav.header-box {
    padding: 0px;
}

p {
    font-size: 20px;
    line-height: 25px;
}

a {
    text-transform: uppercase;
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    margin: 0 auto;
    width: 400px;
    text-align: center;
}

a:hover {
    color: #336699;
}

a:visited {
    color: #0000;
}


/* Desktop */

@media (min-width: 1024px) {

    body {
        background-color: #f7cac9;
        line-height: 17px;
    }

    p {
        font-size: 17px;
    }

    .header-box {
        padding: 30px;
    }

    .header-box h2 {
        margin-bottom: 30px;
        margin-top: 0px;
    }

    .nav-box {
        padding: 0px 30px 0px 30px;    
    }

    .nav-box li {
        text-align: left;
        font-size: 20px;
        width: 20%;
        display: inline-block;
    }

}


